.bash_logout
.bash_profile
.ssh/
.viminfo
.bash_history
ansible*
secrets*
.ansible*
.cache
.novaclient
.config/openstack/clouds.yaml
dev/*
.terraform.d/
.google_authenticator
.lesshst
.wget-hsts
gitolite-admin
