[user]
	email = raymond.kristiansen@uib.no
	name = Raymond Kristiansen
[color]
	ui = auto
[core]
	pager = less -r
	editor = "vim"
[alias]
        co = checkout
	dc = diff --cached
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[push]
	default = matching
[init]
	defaultBranch = master
